# Node modules
node_modules/

# Environment variables


# Logs
logs/
*.log
npm-debug.log*

# Debugging
.vscode/launch.json
.vscode/tasks.json

# VSCode settings (opcional, si querés ignorar configuraciones personales)
.vscode/

# OS junk files
.DS_Store
Thumbs.db

# Optional: build/dist folders
dist/
build/
